/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --blob-1-clr: linear-gradient(#ff00d0, #8626b2);
  --blob-2-clr: linear-gradient(#05276b, #00eeff);
  --blob-3-clr: linear-gradient(#d64612, #e48307);
}
body {
  background-color: #111;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.App {
  position: relative;
  /* max-width: fit-content; */
}
.blob {
  position: absolute;
  border-radius: 50%;
}
.blob-1 {
  background: var(--blob-1-clr);
  top: 0%;
  left: -30%;

  width: 20vw;
  aspect-ratio: 1/1;
  -webkit-animation: move-down 1.5s linear infinite alternate;
  animation: move-down 1.5s linear infinite alternate;
}
.blob-2 {
  background: var(--blob-3-clr);
  width: 15vw;
  aspect-ratio: 1/1;
  bottom: 0%;
  right: -10%;
  -webkit-animation: move-up 1.5s linear infinite alternate;
  animation: move-up 1.5s linear infinite alternate;
}
.blob-3 {
  background: var(--blob-3-clr);
  width: 5vw;
  aspect-ratio: 1/1;
  bottom: 50%;
  right: 50%;
  -webkit-animation: rotate 1.5s linear infinite alternate;
  animation: rotate 1.5s linear infinite alternate;
  display: none;
}
@-webkit-keyframes move-up {
  0% {
    -webkit-transform: translateY(-2vw);
    transform: translateY(-2vw);
  }
}
@keyframes move-up {
  0% {
    -webkit-transform: translateY(-2vw);
    transform: translateY(-2vw);
  }
}
@-webkit-keyframes move-down {
  0% {
    -webkit-transform: translateY(2vw);
    transform: translateY(2vw);
  }
}
@keyframes move-down {
  0% {
    -webkit-transform: translateY(2vw);
    transform: translateY(2vw);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(100vw, 100vw);
    transform: translate(100vw, 100vw);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: translate(100vw, 100vw);
    transform: translate(100vw, 100vw);
  }
}
.clock {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  /* box-shadow: 0 0 5vw 0 #00eeff; */
  border: 0.2vw solid rgba(255, 255, 255, 0.5);
  width: 40vw;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.clock img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.clock::after {
  content: "";
  border-radius: 50%;
  width: 1.5vw;
  aspect-ratio: 1/1;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
}

.hr,
.min,
.sec {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hr {
  width: 0.5vw;
  height: 20%;
  z-index: 2;
  -webkit-transform: translate(-50%) rotate(180deg);
  -ms-transform: translate(-50%) rotate(180deg);
  transform: translate(-50%) rotate(180deg);
}
.hr::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background-color: #ff3d68;
  border-radius: 1vw;
}
.min {
  width: 0.3vw;
  height: 30%;
  z-index: 1;
  -webkit-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
}
.min::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background-color: #39a2db;
  border-radius: 1vw;
}
.sec {
  width: 0.2vw;
  height: 45%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.sec::before {
  content: "";
  position: absolute;
  top: -35%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 1vw;
}
